name: Build and deploy Python app to Azure Web App - walterdmp-api-ml

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # REMOVI A ETAPA DE INSTALAÇÃO QUE DAVA ERRO
      # VAMOS DIRETO PARA O EMPACOTAMENTO

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          # MANTIVE SEUS CÓDIGOS SECRETOS AQUI
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A1765210DEB74BC2BD5B1A4A1363C1FA }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F1FF8ED78DC246B4816E38985C4FC632 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5E7494E5492F4F0AA1192AA0BFB52673 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'walterdmp-api-ml'
          slot-name: 'Production'
